@media screen and (max-width: 900px) {
    .portfolio-content .portfolio-item{
        margin-bottom: 0.5rem;
    }
}
.portfolio-content a{
    width: 10rem;
    height: 25rem;
    display: block;
    position: relative;
    z-index: 0;
    transition: 0.5s;
}
.portfolio-content .portfolio-item {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
    cursor: pointer;
}
.portfolio-content .portfolio-item .content {
    position: absolute;
    top: 17rem;
    left: 5rem;
    z-index: 2;
    color: white;
    overflow: hidden;
}
.portfolio-content .portfolio-item .content h3 {
    text-transform: uppercase;
}
.portfolio-content .portfolio-item .pic {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    height: 100%;
}

.portfolio-content .portfolio-item a:hover {
    transform: scale(0.9);
    text-decoration: underline;
    
}
.portfolio-item a:hover .content {
    text-decoration: underline;

}

